@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

:root {
    --grey-000: #ffffff;
    --grey-100: #F7FAFC;
    --grey-400: #CBD5E0;
    --grey-800: #2D3748;
    --grey-900: #181b21;
    --red-600: #E53E3E;
    --green-500: #38A169;
    --yellow-500: #FFB92D;
}

:focus{
    box-shadow: 0 0 0 8px rgba(245,101,101,.5);
    outline: none;
}

body {
    background-color: var(--grey-900);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--grey-100);
    font-size: 1.2em;
}

h1 {
    color: var(--red-600);
    font-family: 'Metal Mania', cursive;
    margin: 0;
}

header {
    align-items: center;
    display: flex;
    padding: 0 2em;
    font-family: 'Metal Mania', cursive;
}

header div {
    flex: 1;
}

header button {
    background: var(--yellow-500);
    border: none;
    border-radius: .625em;
    color: #744210;
    font-size: 1em;
    padding: .625em 1.250em;
}

header button:focus {
    box-shadow: 0 0 0 7px rgba(255,206,108,0.40);
}

header button img {
    padding: 0 .25em;
}

header span:first-child {
    flex: 1;
    padding: 0;
    width: 3em;
}

header span {
    /* margin-left: auto; */
    color: var(--grey-400);
    padding: 0 1em;
    flex: 2;
}

header span:last-child {
    flex: 1;
}

header h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 0;
}

header p {
    color: var(--grey-400);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

header p span {
    font-family: 'Metal Mania', cursive;
}

section {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

section:focus-within label{
    background-color: var(--grey-400);
}

section label:focus-within {
    background-color: var(--grey-000);
    box-shadow: 0 0 0 8px rgba(245,101,101,.5);
}

section label:first-of-type:focus-within:before {
    content: url('assets/img/jk.svg');
    width: 100%;
    height: 100%;
    left: -4em;
    position: absolute;
    display: flex;
    align-items: center;
}

section label:nth-of-type(2):focus-within:before {
    content: url('assets/img/p.svg');
    width: 100%;
    height: 100%;
    left: -4em;
    position: absolute;
    display: flex;
    align-items: center;
}

section label[for]:focus{
    box-shadow: 0 0 0 8px rgba(245,101,101,.5);
}

section label:focus-within:before {
    content: url('assets/img/yank.svg');
    width: 100%;
    height: 100%;
    left: -4em;
    position: absolute;
    display: flex;
    align-items: center;
}

section label:focus-within img {
    opacity: 1;
}

label {
    background-color: var(--grey-000);
    border-radius: .625em;
    color: var(--grey-900);
    margin: 1.4em 0;
    padding: 1em;
    display: flex;
    position: relative;
    align-items: center;
    left: 0;
    transition: all 1s ease;
}

label.active {
    left: -2em;
    border: 4px solid var(--green-500);
    box-shadow: 0 0 0 8px rgba(56, 161, 105,.4);
}

label.active:focus-within {
    box-shadow: 0 0 0 8px rgba(56, 161, 105,.4);
}

label.active:before,
section label.active:focus-within:before {
    content: url('assets/img/oi.svg');
    width: 100%;
    height: 100%;
    left: -4em;
    position: absolute;
    display: flex;
    align-items: center;
}

label:focus img{
    opacity: 1;
}

label.playing img {
    opacity: 1;
}

/* label.active:after {
    content: '';
    background: #2D3748;
    border: 4px solid #718096;
    border-radius: .625em;
    display: block;
    height: 100%;
    width: 100%;
} */

label img {
    opacity: 0;
    transition: all .3s ease-in;
    width: .625em;
}

label span {
    flex: 2;
    padding: 0 1em;
}

label span:last-child {
    flex: 1;
}

label input {
    opacity: 0;
    width: 0;
}

input:checked:before{
    /* background-color: var(--grey-000); */
    border: 2px solid var(--green-500);
    box-shadow: 0 0 0 3px rgba(56, 161, 105,.5);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 1em;
    box-sizing: border-box;
}

@media screen and (min-width: 48em) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main > header {
        width: 60%;
    }
    section {
        width: 60%;
    }
}

@keyframes slide {
    100% { left: -2em; }
}

@keyframes slide-in {
    100% {
        left: 0;
    }
}